<div class='fork-layout-wrapper'>
    <ng-container *ngIf='isValidForkList else invaliduser'>
      <nav aria-label="List of forks" class="nav-wrapper">
        <ul class="pagination pagination-lg">
          <ng-container *ngIf='showPrevious else previous'>
            <li class="page-item" *ngIf='currentPageIndex -2 > 0' (click)="setForkList(currentPageIndex -3); showPrevious = false"><a class="page-link">{{currentPageIndex -2}}</a></li>
          <li class="page-item" *ngIf='currentPageIndex -1 > 0' (click)="setForkList(currentPageIndex -2); showPrevious = false"><a class="page-link">{{currentPageIndex -1}}</a></li>
          <li class="page-item" *ngIf='currentPageIndex > 0' (click)="setForkList(currentPageIndex -1); showPrevious = false"><a class="page-link">{{currentPageIndex}}</a></li>
          </ng-container>
          <ng-template #previous>
            <li class="page-item" (click)="currentPageIndex>0 && showPrevious = true" [ngClass]="{'disabled':currentPageIndex===0}">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          </ng-template>
          <li class="page-item active" (click)="setForkList(currentPageIndex)"><a class="page-link">{{currentPageIndex +1}}</a></li>
          <li class="page-item" (click)="setForkList(currentPageIndex+1)"><a class="page-link">{{currentPageIndex +2}}</a></li>
          <li class="page-item" (click)="setForkList(currentPageIndex+2)"><a class="page-link">{{currentPageIndex +3}}</a></li>
          <ng-container *ngIf='showNext else next'>
            <li class="page-item" (click)="setForkList(currentPageIndex +3); showNext = false"><a class="page-link">{{currentPageIndex +4}}</a></li>
          <li class="page-item" (click)="setForkList(currentPageIndex +4); showNext = false"><a class="page-link">{{currentPageIndex +5}}</a></li>
          <li class="page-item" (click)="setForkList(currentPageIndex +5); showNext = false"><a class="page-link">{{currentPageIndex +6}}</a></li>
          </ng-container>
          <ng-template #next>
            <li class="page-item"  (click)="showNext = true">
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ng-template>
          
        </ul>
      </nav>
      <div class="card m-1" *ngFor="let user of forkList; let i=index" >
          <div class="row no-gutters">
            <div class="col-md-2">
              <img [src]="user.owner.avatar_url" class="card-img" [alt]="user.full_name">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{user.full_name}}</h5>
                <p class="card-text">{{user.description}}</p>
                <p class="card-text">
                    <a class='link'>{{user.html_url}}</a>
                </p>
                <p class="card-text">
                    <span>licence:</span> {{user.license.name}}
                </p>
                <p class="card-text">
                  <span>UserId:</span> {{user.owner.login}}
              </p>
              <p class="card-text">
                  <button type="button" class="btn btn-success" [disabled] = 'user.followed' (click)="followUser(user.owner.login,i)">Follow</button>
              </p>
                <p *ngIf='user.errorText' class="card-text error-container">
                  <!-- <div class="error-container"> -->
                    {{user.errorText}}
                  <!-- </div> -->
                </p>
              </div>
            </div>
          </div>
      </div>
    </ng-container>
    <ng-template #invaliduser>
      <div class='error-container'>
        {{messages.CHECK_AUTH}}
      </div>
    </ng-template>
</div>